models/
data/*
!data/process_stuck.py
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
task_config/
**/.DS_Store

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files
!assets/embodiments/
!assets/embodiments/tianji/
!assets/embodiments/tianji/README.md

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt
